<html>

<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title><%= title %> - 管理页面</title>
<script language=JavaScript>

function logout(){

	if (confirm("您确定要退出吗？"))

	top.location = "logout";

	return false;

}

</script>

<script language=JavaScript1.2>

function showsubmenu(sid) {

	var whichEl = eval("submenu" + sid);

	var menuTitle = eval("menuTitle" + sid);

	if (whichEl.style.display == "none"){

		eval("submenu" + sid + ".style.display=\"\";");

	}else{

		eval("submenu" + sid + ".style.display=\"none\";");

	}

}

</script>

<meta http-equiv=Content-Type content=text/html;charset=gb2312>

<meta http-equiv="refresh" content="60">

<script language=JavaScript1.2>

function showsubmenu(sid) {

	var whichEl = eval("submenu" + sid);

	var menuTitle = eval("menuTitle" + sid);

	if (whichEl.style.display == "none"){

		eval("submenu" + sid + ".style.display=\"\";");

	}else{

		eval("submenu" + sid + ".style.display=\"none\";");

	}

}

</script>

<base target="main">

<link href="/dingcan/Public/images/skin.css" rel="stylesheet" type="text/css">

</head>

<body leftmargin="0" topmargin="0">

<table width="100%" height="64" border="0" cellpadding="0" cellspacing="0" class="admin_topbg">

  <tr>

    <td width="61%" height="64"><img src="/dingcan/Public/images/logo1.png" width="345" height="63"></td>

    <td width="39%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="74%" height="38" class="admin_txt"><span class="left_b">管理员：
<u><a href="__URL__/stu_info"><present name="_SESSION['aname']">{$_SESSION['aname']}</a></u> 您好,感谢登陆使用</span></td>

        <td width="22%"><a href="#" target="_self" onClick="logout();"><img src="/dingcan/Public/images/out.png" alt="安全退出 width="100" height="40" border="0"></a></td>

        <td width="4%">&nbsp;</td>

      </tr>

      <tr>

        <td height="19" colspan="3">&nbsp;</td>

        </tr>

    </table></td>

  </tr>

</table>

</body>

</html>