<link href="__PUBLIC__/images/skin.css" rel="stylesheet" type="text/css" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style type="text/css">
/*
table{
	background-image:url(__PUBLIC__/images/bg.png);
}
body{
		background-image:url(__PUBLIC__/images/bg.png);
}
*/
#left_bt{
	font-family:"Microsoft Yahei";
	font-size:15px;
	text-align:center;
	color:#567;


}
span.text{
	font-family:"Microsoft Yahei";
	font-size:28px;
	color:#567;
}
.input{
	border-radius:4px;
	height:30px;
	width:200px;
	-webkit-transition:background 3s ease-out;
}


}
form{
	padding:0 0 0 100px;
}
.left_td{
	width:10%;
	height: 50px;
}
#submit{
	margin:35px 0 0 100px;
	font-family:"Microsoft Yahei";
	font-size:16px;
	color:#567;
	background-color:#F7F8F9;
	border-radius:4px;
}
</style>
<body>
	<table width="100%" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td width="17" valign="top" background="__PUBLIC__/images/mail_leftbg.gif">
				<img src="__PUBLIC__/images/left-top-right.gif" width="17" height="29" />
			</td>
			<td valign="top" background="__PUBLIC__/images/content-bg.gif">
				<table width="100%" height="31" border="0" cellpadding="0" cellspacing="0" class="left_topbg" id="table2">
					<tr>
						<td height="31">
							<div class="titlebt">修改密码</div>
						</td>
					</tr>
				</table>
			</td>
			<td width="16" valign="top" background="__PUBLIC__/images/mail_rightbg.gif">
				<img src="__PUBLIC__/images/nav-right-bg.gif" width="16" height="29" />
			</td> 
		</tr>
		<tr>
 			<td valign="middle" background="__PUBLIC__/images/mail_leftbg.gif">&nbsp;</td>
			<td valign="top" bgcolor="#F7F8F9">
				<form name="input" action="__URL__/passwdVerify" method="POST">
					<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0" maxlength="">
						</tr>
						<tr>
							<td   class="left_td" >
								<span class="text" >旧密码</span>
							</td>
							<td width="210px">
								<input class="input" type="password" name="oldpasswd"/>
							</td>
						</tr>
                                        	<tr>
							<td  class="left_td">
								<span class="text">新密码</span>
							</td>
							<td>
								<input class="input" type="password" name="newpasswd1"/>
							</td>
						</tr>

						<tr>
							<td  class="left_td">
								<span class="text">确认密码</span>
							</td>
							<td>
								<input class="input" type="password" name="newpasswd2"/>
							</td>
						</tr>
<tr>
<td>
<input id="submit" type="submit" value="确认" />
</td>
<td>
<input id="submit" type=reset value="重置" />
</td>
</tr>										</table>
				</form>	
			</td>
		</tr>
		<tr>
			<td valign="bottom" background="__PUBLIC__/images/mail_leftbg.gif"><img src="__PUBLIC__/images/buttom_left2.gif" width="17" height="17" /></td>
			<td background="__PUBLIC__/images/buttom_bgs.gif"><img src="__PUBLIC__/images/buttom_bgs.gif" width="17" height="17"></td>
			<td valign="bottom" background="__PUBLIC__/images/mail_rightbg.gif"><img src="__PUBLIC__/images/buttom_right2.gif" width="16" height="17" /></td>
		</tr>
    </table>
</body>