<link href="__PUBLIC__/images/skin.css" rel="stylesheet" type="text/css" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style type="text/css">
/*
table{
	background-image:url(__PUBLIC__/images/bg.png);
}
body{
		background-image:url(__PUBLIC__/images/bg.png);
}
*/
#left_bt{
	font-family:"Microsoft Yahei";
	font-size:15px;
	text-align:center;
	color:#567;


}
span.text{
	font-family:"Microsoft Yahei";
	font-size:28px;
	color:#567;
}
.input{
	border-radius:4px;
	height:30px;
	width:200px;
	-webkit-transition:background 3s ease-out;
}


form{
	padding:0 0 0 100px;
}
.left_td{
	width:10%;
}
#submit{
	margin:35px 0 0 100px;
	font-family:"Microsoft Yahei";
	font-size:16px;
	color:#567;
	background-color:#F7F8F9;
	border-radius:4px;
}
</style>
<body>
	<table width="100%" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td width="17" valign="top" background="__PUBLIC__/images/mail_leftbg.gif">
				<img src="__PUBLIC__/images/left-top-right.gif" width="17" height="29" />
			</td>
			<td valign="top" background="__PUBLIC__/images/content-bg.gif">
				<table width="100%" height="31" border="0" cellpadding="0" cellspacing="0" class="left_topbg" id="table2">
					<tr>
						<td height="31">
							<div class="titlebt" > 个人管理</div>
						</td>
					</tr>
				</table>
			</td>
			<td width="16" valign="top" background="__PUBLIC__/images/mail_rightbg.gif">
				<img src="__PUBLIC__/images/nav-right-bg.gif" width="16" height="29" />
			</td> 
		</tr>
		<tr>
			<td valign="middle" background="__PUBLIC__/images/mail_leftbg.gif">&nbsp;</td>
			<td valign="top" bgcolor="#F7F8F9">
			<span id="left_bt"></span><br/><br/><br/>
				<form name="input" action="__URL__/insert" method="POST">
					<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0" maxlength="">
							<td colspan="1" class="left_td">
								<span class="text">学号</span>
							</td>
							<td>
								<input class="input" type="text" name="sid"/>
							</td>
						</tr>
						<tr>
                        	<td colspan="1" class="left_td">
								<span class="text">姓名</span>
							</td>
							<td>
								<input class="input" type="text" name="sname"/>
							</td>
						</tr>
                         <tr>
                         <td colspan="1" class="left_td">		
								<span class="text">密码</span>
							</td>
							<td>
								<input class="input" type="password" name="spassword">
							</td>
						</tr>

						<tr>
							<td colspan="1" class="left_td">
								<span class="text">地址</span>
							</td>
							<td>
								<input class="input" type="text" name="sposition"/>
							</td>
						</tr>
                        <tr>
							<td colspan="1" class="left_td">
								<span class="text">联系电话</span>
							</td>
							<td>
								<input class="input" type="text" name="sphone"/>
							</td>
						</tr>
						<tr>
						     <td><input id="submit" type="submit" value="确认" /></td>
							 <td><input id="submit" type="reset" value="重置" /></td>
						</tr>
										</table>
										<?php echo getenv(REMOTE_ADDR)?><br><?php echo date("Y-m-d H:i:s");?>
					
				</form>	
			</td>
		</tr>
		<tr>
			<td valign="bottom" background="__PUBLIC__/images/mail_leftbg.gif"><img src="__PUBLIC__/images/buttom_left2.gif" width="17" height="17" /></td>
			<td background="__PUBLIC__/images/buttom_bgs.gif"><img src="__PUBLIC__/images/buttom_bgs.gif" width="17" height="17"></td>
			<td valign="bottom" background="__PUBLIC__/images/mail_rightbg.gif"><img src="__PUBLIC__/images/buttom_right2.gif" width="16" height="17" /></td>
		</tr>
    </table>
</body>
