
body { font-family:Verdana; font-size:14px; margin:0;}

#container {margin:0 auto; width:100%;}
#header { height:100px; background:#9c6; margin-bottom:5px;width:960px;margin:0 auto}
#mainContent { height:500px; background:#ffa; margin-bottom:5px;width:960px;margin:0 auto;text-align:center;}
#footer { height:60px; background:#9c6;width:960px;margin:0 auto}
