/*本模板是由标准之路(www.aa25.cn)的×××制作完成*/
/*本人水平有限，使用自愿，不对因使用此模板造成的任何后果负任何责任*/
/*如果您想转载此资源，请保留“<a href="http://www.aa25.cn">标准之路www.aa25.cn</a>”的链接及版权标识*/
/*如有更好的建议或意见，请到www.aa25.cn留言，本人尽力解决*/
/*2008-8-28*/
body { font-family:Verdana; font-size:14px; margin:0; line-height:150%;}

#container {margin:0 auto; width:900px;}
#header { height:100px; background:#e6e6e6; margin-bottom:5px;}
#menu { height:30px; background:#09c; margin-bottom:5px;}
#mainContent { background:url(bg.gif) right 0 repeat-y; overflow:auto;zoom:1; margin-bottom:5px;}
#sidebar { float:right; width:200px; background:#9ff;}
#content { float:left; width:675px; padding:10px; background:#cff;}
#footer { height:60px; background:#6cf;}
.clearfloat { clear:both; height:0; font-size: 1px; line-height: 0px;}