
/* 
----------------------------------------------------------------------------------------

Copyright 2010 - Thierry Ruiz - www.dotemplate.com - All rights reserved.

THIS TEMPLATE IS FREE AS LONG AS YOU KEEP THE LINK TO WWW.DOTEMPLATE.COM IN THE FOOTER
TO REMOVE THE LINK, PLEASE MAKE A 10 DOLLARS DONATION at www.dotemplate.com/#donate

----------------------------------------------------------------------------------------
*/


html {
	background: #efefef;
	margin:0 0 0 -1px;
	padding:0;	
	overflow-Y: scroll;
}


body {
	padding:0;
	margin :0;
	display:table; 
	width:100%;	
}


					body {
	color:#656565;
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	text-transform: normal;
}

p {
	letter-spacing: normal;
	line-height: 1.7em;
}

h1 {
	color:#78a8c0;
	font-size:22px;
	margin:25px 0 25px 0;
	clear:both;
}


h2 {
	color:#78a8c0;
	font-size:20px;
	margin:20px 0 10px 0;
	clear:both;
}


h3 {
	color:#78a8c0;
	font-size:18px;
	margin:5px 0 5px 0;
	clear:both;
	
}
h3.new
{
color:#000;
	font-size:18px;
		margin:5px 0 5px 0;

}

p.para {
	color:#000;
	font-size:18px;
	margin:5px 0 5px 0;
	clear:both;
	text-indent:2em;
}

.left_b{

	color:#222222;
	text-decoration:none;
	padding:0px 50px ;
	line-height:40px;
	font-weight:bold;
}
a:link, a:visited {
	color:#1860a8;
	text-decoration:none;
}


a:hover {
	color:#ffa500;
	text-decoration:underline;
}
	
input.new {
	background:#7A7A7A;
	border-bottom:1px solid #fefefe;
	border-top:0;
	border-left:1px solid #e4e4e4;
	border-right:1px solid #e4e4e4;
	width:140px;
	padding:6px 5px;
	color:#fefefe;
	margin:0;
	text-align:left;
	text-shadow:0 1px 0 #000000;
	font-size:12px;
	letter-spacing:0.010em;
	font-family: 'Conv_Muli-Regular';
}
input.new1{
	width:200px;
	padding:6px 5px;
}			
 select.new {
	background:#7A7A7A;
	border-bottom:1px solid #fefefe;
	border-top:0;
	border-left:1px solid #e4e4e4;
	border-right:1px solid #e4e4e4;
	width:150px;
	padding:6px 5px;
	color:#fefefe;
	margin:0;
	text-align:center;
	text-shadow:0 1px 0 #000000;
	font-size:15px;
	letter-spacing:0.010em;
	font-family: 'Conv_Muli-Regular';
}
select{
	width:150px;
	padding:6px 5px;
}
 form input#submit {
	background: none #7a7a7a;
	width:84px;
	border-radius:5px;
	border:1px solid #fff;
	padding:0;
	height:35px;
	color:#000;
	text-align:center;
	text-transform:uppercase;
	font-size:15px;
	margin:30px 0 0  12px;
	cursor:pointer;
	text-shadow:none;
	font-weight: bold;
}
#wrapper {
	background: transparent url( ../images/page-vbg.jpg ) repeat-y scroll 50% 0px;
	margin:0 auto ;
	width:100%;
}

					body {
	background-color:#efefef;
	background-image:url( ../images/body-bg.jpg );
	background-position:center top ;
	background-repeat:repeat-x;
}


	

#bg {
	margin:0 auto;
	padding:0;
	background:transparent ;
	background-image:url(../images/hat.jpg);
 	background-repeat:no-repeat;	
	background-position: center top ;
}



					#header {
	margin: 0 auto;
	min-height:0px;
	height: 0px;
	width: 880px;
}
	

#page {
	background: transparent url( ../images/logo.gif) no-repeat center top;
}


					

#container {
	margin:0 auto;
	width:880px;
}


#banner {
	margin: 0 auto;
	height:230px;
	width:100%;
}

					

#nav1 {
	height:40px;
	margin:0 auto ;
	text-align:center;
}

#nav1 ul {
	display:table;
	margin:0 auto;
	padding:0;
	list-style-type:none;
	position:relative;
	height:40px;
	text-transform:uppercase;
	font-size:11px;
	font-family:Arial,sans-serif;
}


#nav1 ul li {
	display:block;
	position:relative;
	float:left;
	margin:0;
	padding:0;
	background:transparent url('../images/hmenu.jpg') repeat-x top left;

}


#nav1 ul li a {
	display:block;
	float:left;
	color:#222222;
	text-decoration:none;
	padding:0px 50px ;
	line-height:40px;
	font-weight:bold;
}



#nav1 ul li a:hover, #nav1 li#current a {
	color:#fff;
	background:transparent url('../images/hmenu-sel.jpg') repeat-x top left;
}


#nav1 ul ul {visibility:hidden;position:absolute;left:0;top:40px;} 
#nav1 table {position:absolute; top:0; left:0;}
#nav1 ul li:hover ul, 
#nav1 ul a:hover ul{visibility:visible;} 
#nav1 ul ul{} 
#nav1 ul ul li {clear:both;text-align:left;font-size:12px;} 
#nav1 ul ul li a{display:block;width:52px;height:40px;margin:0;border:0;border-bottom:1px solid #858585;} 
#nav1 ul ul li a:hover{color:#ffffff;
	background:#656565;} 

	

#content {
	width:880px;
	margin:0 auto ;
	text-align:left;
	min-height:800px;
}


#content p {
	text-align:justify;
}
	



#footerWrapper {
	margin:0 auto;
	height:170px;
	padding:0;
	background:transparent url(../images/footerWrapper-bg.jpg ) no-repeat scroll center top;
}


#footer {
	margin:0 auto;
	padding:0;
	width:880px;
	height:90px;
}


					#footer {
	color:#FFFFFF;
	text-align:center;
}

#footer a:link, #footer a:visited {
	color:#FFFFFF;
}


#footer a:hover{
	color:#ffb500;
	text-decoration:none;
}

	
	
					
#right {
	width:220px;
	padding:10px 5px 20px 5px;
	float:left;
}


#center {
	width:600px;
	padding:10px 20px 20px 20px;
	float:left;
}
#centernew {
	width:860px;
	padding:10px 20px 20px 20px;
	float:left;
}
#register {
	width:800px;
	padding:20px 20px 20px 20px;
	float:left;
}
 
#content p {
	margin-top:10px;
	text-align:justify;
}


										
#sidebar ul.vmenu {
	list-style: none;
	text-align: left;
	margin: 7px 0px 8px 0px; 
	padding: 0;
	text-decoration: none;	
	border-top: 1px solid #d8d8f0;
}


#sidebar ul.vmenu li {
	list-style: none;
	padding: 4px 0 4px 0px;
	margin: 0 2px;	
	border-bottom: 1px solid #d8d8f0;
}



#sidebar ul.vmenu li a {
	text-decoration: none;
	color:#1860a8;
}


#sidebar ul.vmenu li a:hover {
	color:#ffa500;
}


#sidebar ul.vmenu ul { margin: 0 0 0 5px; padding: 0; }
#sidebar ul.vmenu ul li { border: none; }


			


a img {
	border:none;
} 


.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
